<!DOCTYPE html>
<!--    <link rel="stylesheet" href="~/Content/css/mensaje.css">
    <link rel="stylesheet" href="~/Content/css/postcss.css">
    <link rel="stylesheet" href="~/Content/css/styleAlta.css">
    <link rel="stylesheet" href="~/Content/css/styleBaja.css">
    <link rel="stylesheet" href="~/Content/css/styleConsulta.css">
    <link rel="stylesheet" href="~/Content/css/styleContacto.css">-->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/styleFooter.css">
    <link rel="stylesheet" href="~/Content/css/styleHeader.css">
    <link rel="shortcut icon" href="~/Content/imagenes/favicon.ico">

    <title>@ViewBag.Title</title>

     <nav role="custom-dropdown">
        <ul>
            <li>@Html.ActionLink("Alta", "Insertar", "Libro")</li>
            <li>@Html.ActionLink("Consultar", "Consultar", "Libro")</li>
            <li><a href="ModificarLibro.jsp">Modificar</a></li>
            <li><a href="BajaLibro.jsp">Baja</a></li>
            <li><a href="contacto.jsp">Contacto</a></li>
        </ul>
    </nav>
</head>
<body>
   

    @RenderBody()

    
</body>

<div class="footer">

	<ul class="footer__left social-icons icon-circle list-unstyled list-inline">
		<li class="highlight" title="Google+">
            <a href="https://plus.google.com/104844718104190811091" class="icon icon-google-plus share-google" id="google"></a>
		</li>
        <li class="highlight" title="Facebook">
			<a href="https://www.facebook.com/laesquinadelzorro/" class="icon icon-facebook share-facebook" id="facebook"></a>
		</li>
		<li class="highlight" title="Twitter">
			<a href="https://twitter.com/esquinadelzorro" class="icon icon-twitter share-twitter" id="twitter"></a>
		</li>
		<li class="highlight" title="Snapchat">
			 <a href="https://snapchat.com/" class="icon icon-snapchat share-snapchat" id="snapchat"></a>
		</li>
        <li class="highlight" title="Instagram">
            <a href="https://www.instagram.com/" class="icon icon-instagram share-instagram" id="instagram"></a>
        </li>
		<li class="highlight" title="Youtube">
			<a href="https://www.youtube.com/" class="icon icon-youtube share-youtube" id="youtube"></a>
		</li>
    </ul>
	<div class="footer__right highlight" title="La Esquina del Zorro">
            @Html.ActionLink("Libreria", "Inicio", "Inicio", new { area = "" }, new { @class = "small-link" })
            <img class="logo" width="31" height="31" src="~/Content/imagenes/logo_librerialaesquinadelzorro_0.png" alt='Zorro'/>
    </div>
</div>
<script src="~/Content/js/contacto.js"></script>
</html>
